<style type="text/css">
ul {
    padding: 0;
}
li {
    list-style: none;
}
a:hover,a:active,a:focus {
    text-decoration: none;
}
body {
    background-color: #FCFDF8;
    background-repeat:repeat;
    background-attachment:fixed;
    overflow-x: hidden;
    overflow-y: auto;
}
i.icon,i.fa {
    margin-right: 6px
}
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0px 5px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 50px;
    background: #FFF;
}
header .logo {
    font-size: 20px;
    height: 50px;
    margin: 0;
    font-weight: 400;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e8e8e8;
    background: #FFF;
    text-align:center;
}
header .main {
    position: relative;
}
header .nav {
    width: 100%;
    margin-left: 25px;
    background: #FFF;
    margin: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
 /* Firefox 4 */
    -webkit-transition: all 0.4s ease;
 /* Safari  Chrome */
    -o-transition: all 0.4s ease;
 /* Opera */
    position: absolute;
    top: -300px;
    left: 0;
}
header .showNav {
    top: 50px;
    box-shadow: 0 5px 5px rgba(204,204,204,.15);
    -moz-box-shadow: 0 5px 5px rgba(204,204,204,.15);
}
header .nav li {
    font-size: 16px;
}
header .nav a {
    display: block;
    line-height: 40px;
    font-size: 16px;
    color: #959595;
    padding: 0 25px;
    border-bottom: 1px solid #f5f5f5;
}
header .nav a:hover {
    border-color: #459df5;
    color: #459df5;
}
header .head-btn {
    float: right;
    line-height: 60px;
}
header .head-btn a {
    margin-left: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f5f5f5;
    color: #03b8cf;
    border: 1px solid #e5e5e5;
    transition: all .2s;
    -moz-transition: all .2s;
 /* Firefox 4 */
    -webkit-transition: all .2s;
 /* Safari Chrome */
    -o-transition: all .2s;
 /* Opera */
}
header .head-btn a:hover {
    background: #03b8cf;
    color: #FFF;
    border: 1px solid #03b8cf;
}
header .head-btn a>i {
    margin-right: 0px;
    font-size: 15px;
}
header .nav-btn {
    position: fixed;
    border: none;
    background: transparent;
    top: 0;
    left: 10px;
    outline: 0;
    margin-top: 10px;
    z-index: 100
}
header .nav-btn {
    left: inherit;
    right: 10px;
}
header .nav-btn .icon-line {
    display: block;
    margin: 6px 0;
    width: 25px;
    height: 2px;
    background: #999;
    cursor: pointer;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
 /* Firefox 4 */
    -webkit-transition: all .4s ease;
 /* Safari  Chrome */
    -o-transition: all .4s ease;
 /* Opera */
}
header .nav-btn .middle {
    margin: 0 auto;
}
header .animated2 .top {
    transform: translateY(8px) rotateZ(45deg);
    -ms-transform: translateY(8px) rotateZ(45deg);
   /* IE 9 */
    -moz-transform: translateY(8px) rotateZ(45deg);
   /* Firefox */
    -webkit-transform: translateY(8px) rotateZ(45deg);
 /* Safari 鍜� Chrome */
    -o-transform: translateY(8px) rotateZ(45deg);
   /* Opera */
}
header .animated2 .middle {
    width: 0;
}
header .animated2 .bottom {
    transform: translateY(-8px) rotateZ(-45deg);
    -ms-transform: translateY(-8px) rotateZ(-45deg);
   /* IE 9 */
    -moz-transform: translateY(-8px) rotateZ(-45deg);
   /* Firefox */
    -webkit-transform: translateY(-8px) rotateZ(-45deg);
 /* Safari Chrome */
    -o-transform: translateY(-8px) rotateZ(-45deg);
   /* Opera */
}
.left-bar {
    position: fixed;
    top: 50px;
    left: -240px;
    width: 200px;
    max-width: 100%;
    height: 100%;
    background: #353535;
    z-index: 12;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
 /* Firefox 4 */
    -webkit-transition: all 0.4s ease;
 /* Safari  Chrome */
    -o-transition: all 0.4s ease;
 /* Opera */
    transform: translateZ(0);
    -ms-transform: translateZ(0);
   /* IE 9 */
    -moz-transform: translateZ(0);
   /* Firefox */
    -webkit-transform: translateZ(0);
 /* Safari  Chrome */
    -o-transform: translateZ(0);
   /* Opera */
}
.left-bar .header {
    padding: 0px 15px;
    border-bottom: 1px solid #464646;
}
.left-bar .header h2 {
    font-size: 17px;
    line-height: 40px;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    display: block;
    color: #ccc;
}
.left-bar .menu {
    height: 450px;
    margin-bottom: 15px;
    border-bottom: 1px solid #424242
}
.left-bar .menu ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #777;
    padding-left: 38px;
}
.scrollcontent {
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 4px;
    padding-top: 5px
}
.left-bar .menu ul li a:hover {
    background: #f5f5f5
}
.left-bar .menu ul li i.fa {
    width: 15px;
    text-align: center;
    margin-right: 20px
}
.left-bar .tree li.open > ul::-webkit-scrollbar {
    width: 3px;
    margin-right: 2px
}
.menu-about p {
    font-size: 12px;
    color: #ccc;
    text-align: center;
}
#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#content > .Off-left-menu {
    display: none;
}
#content > div.center-main {
    margin: 0 auto;
}
.black {color:black;}
.blue {color:blue;}
.fuchsia {color:fuchsia;}
.green {color:green;}
.maroon {color:maroon;}
.navy {color:navy;}
.olive {color:olive;}
.purple {color:purple;}
.red {color:red;}
.teal {color:teal;}
.sousuo {
    padding: 35px 0;
}
.search {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search-box {
    height: 50px;
  /*box-shadow: 0px 0px 2px 0px #ccc;*/
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-flex;
 /* Safari */
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e6e6e6
}
.search-engine-name {
    width: 69px;
    height: 50px;
    background: #16C0F8;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
}
.search-input {
    box-sizing: border-box;
    flex: 1;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #999;
    border: none;
    outline: none;
    padding-left: 6px;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    letter-spacing: 1px;
    color: #ccc;
}
.search-btn {
    width: 80px;
    height: 50px;
    background: #16C0F8;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
}
.search-engine {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #FFF;
    padding: 15px 0 0 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px #d8d7d7;
    transition: all 0.3s;
    display: none;
    z-index: 999
}
.search-engine-head {
    overflow: hidden;
    margin-bottom: 10px;
    padding-right: 15px;
}
.search-engine-tit {
    float: left;
    margin: 0;
    font-size: 14px;
    color: #999;
}
.search-engine ul::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -15px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}
.search-engine-list::after {
    content: '';
    width: 70px;
    height: 18px;
    position: absolute;
    top: -17px;
    left: 1px;
}
.search-engine-list li {
    float: left;
    width: 30%;
    line-height: 30px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 10px 0;
    background: #f9f9f9;
    color: #999;
    cursor: pointer
}
.search-engine-list li img {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 2.5px;
}
#content .content-box {
    padding-top: 51px
}
.content-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.item {
    width: 100%;
}
.item > .container-fluid {
    padding-top: 0;
    margin-top: 0;
}
.item > .container-fluid .row {
    padding: 10px 5px;
}
.item-tit > strong {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    padding-left: 5px;
}
.item-tit > strong > i {
    margin-right: 5px;
    font-size: 18px;
}
.card-link {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #F7F7F7;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
 /* Firefox 4 */
    -webkit-transition: all 0.2s ease-out;
 /* Safari Chrome */
    -o-transition: all 0.2s ease-out;
 /* Opera */
}
.card-link:hover {
    text-decoration: none;
    transform: translateY(-5px);
    -ms-transform: translateY(-5px);
   /* IE 9 */
    -moz-transform: translateY(-5px);
   /* Firefox */
    -webkit-transform: translateY(-5px);
 /* Safari  Chrome */
    -o-transform: translateY(-5px);
   /* Opera */
    box-shadow: 4px 4px 10px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(204, 204, 204, 0.5);
 /* Firefox */
}
.card-tit {
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.card-tit img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.card-desc {
    color: gray;
    font-size: 12px;
    padding-top: 10px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content-box .list-box {
    background: #FFF;
    padding: 20px 10px 0px 10px;
    margin: 0;
}
#get-top {
    width: 40px;
    height: 40px;
    background: #03b8cf;
    color: #FFF;
    position: fixed;
    right: 15px;
    bottom: 55px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
#get-top i {
    margin: 0;
    font-size: 20px;
}
.footer {
    width: 98%;
    padding: 15px 20px 10px 20px;
    border-top: 1px solid #d0d0d0;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 14px;
    color: #5d5d5d;
}
@media (min-width: 768px) {
    .col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding: 0 10px
    }
    #content .main {
        padding-top: 51px;
    }
    .sousuo {
        padding: 10px 0 50px 0;
        margin-top: 0;
    }
    .sousuo-form {
        width: 100%;
        margin: 0 auto;
    }
    #input {
        outline: none;
        padding: 0 10px;
        height: 46px;
        line-height: 46px;
        border: 1px solid #ccc;
        border-left: none;
        display: block;
        padding-left: 90px;
    }
    .link-box {
        width: 12.5%;
        float: left
    }
    .item-tit > strong {
        padding: 5px 0 0 10px;
        margin-bottom: 10px;
    }
    .get-home {
        margin: 0;
        margin-top: 20px;
    }
    .footer {
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    header {
        height: 60px;
        border-bottom: 1px solid #e8e8e8;
    }
    header .main {
        padding: 0 22px;
    }
    header .logo {
        float: left;
        font-size: 22px;
        margin: 0;
        font-weight: 400;
        border: none;
    }
    header .logo a {
        display: block;
        line-height: 50px;
        color: #484848;
        font-weight: 400;
    }
    header .logo img {
        width: 30px;
        vertical-align: -10px;
    }
    header .nav {
        float: left;
        margin-left: 25px;
        padding-top: 0px;
        height: 100%;
        display: block;
        overflow: hidden;
        position: static;
        width: auto;
        box-shadow: none;
    }
    header .nav li {
        float: left;
        font-size: 16px;
    }
    header .nav a {
        display: block;
        line-height: 59px;
        color: #959595;
        padding: 0 18px;
        border-bottom: 1px solid #e8e8e8;
    }
    header .nav a:hover {
        border-color: #459df5;
        color: #459df5;
    }
    .left-bar {
        height: 100%;
        background: #FFF;
        top: 60px;
        left: 0;
        z-index: 1;
    }
    .left-bar .header {
        padding: 11px 0px;
        border-bottom: none;
        margin: 0 25px;
        padding-top: 15px;
    }
    .left-bar .header h2 {
        color: #28b779;
        font-size: 16px;
        font-weight: bold;
        line-height: inherit;
        border-left: 3px solid #28b779;
        padding-left: 10px;
    }
    .left-bar .menu {
        height: 600px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2
    }
    .left-bar .tree-menu {
        border-bottom: 1px solid #e8e8e8;
    }
    .left-bar .tree li.open > ul {
        height: 281px;
        background: #f5f5f5;
    }
    .tree-menu li li a {
        color: #797979;
        font-size: 14px;
    }
    .search {
        width: 650px;
    }
    .search-engine {
        width: 650px;
    }
    .search-engine-list li {
        width: 112px;
        margin: 0 15px 15px 0;
    }
    #content .main {
        margin-left: 200px;
        padding-top: 70px
    }
    .content-box {
        padding: 0 10px;
        padding-top: 61px
    }
    .nav-item .container-fluid {
        padding: 20px 20px 10px 20px;
    }
    .item > .container-fluid .row {
        padding: 0;
    }
    .card-box .col-md-3 {
        padding: 0 7.5px;
    }
    .card-link {
        margin-bottom: 15px;
    }
    .main .list-box .menu-list {
        margin: 0px 10px 20px 10px;
    }
    .nav-tabs > li > a {
        padding: 4px 15px;
    }
    .footer {
        margin-top: 30px;
    }
}
@media (min-width: 1200px) {
    header .nav a {
        padding: 0 25px;
    }
    .content-box {
        padding: 0 20px;
    }
    .sousuo-form {
        width: 60%
    }
    .item > .container-fluid {
        padding: 0;
        padding-top: 91px;
        margin-top: -65px;
    }
}
@media (min-width: 1700px) {
    .content-box {
        max-width: 1400px;
    }
    .col-md-3 {
        width: 20%;
    }
}
/*!
 * ZUI: Standard edition - v1.8.1 - 2018-01-18
 * http://zui.sexy
 * GitHub: https://github.com/easysoft/zui.git 
 * Copyright (c) 2018 cnezsoft.com; Licensed MIT
 *//*! Some code copy from Bootstrap v3.0.0 by @fat and @mdo. (Copyright 2013 Twitter, Inc. Licensed under http://www.apache.org/licenses/)*//*! normalize.css v2.1.3 | MIT License | git.io/normalize */footer,header,nav,section{display:block}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{margin:.67em 0;font-size:2em}strong{font-weight:700}svg:not(:root){overflow:hidden}button,input{margin:0;font-family:inherit;font-size:100%}button,input{line-height:normal}button{text-transform:none}button{-webkit-appearance:button;cursor:pointer}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.nav:after,.nav:before,.row:after,.row:before{display:table;content:" "}.clearfix:after,.container-fluid:after,.container:after,.nav:after,.row:after{clear:both}.visible-xs{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-xs.visible-sm{display:block!important}}.visible-sm{display:none!important}@media (max-width:767px){.visible-sm.visible-xs{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','PingFang SC','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;font-size:13px;line-height:1.53846154;color:#353535;background-color:#fff}button,input{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#145ccd;text-decoration:none;-webkit-transition:all .4s cubic-bezier(.175,.885,.32,1);-o-transition:all .4s cubic-bezier(.175,.885,.32,1);transition:all .4s cubic-bezier(.175,.885,.32,1)}a:focus,a:hover{color:#0d3d88;text-decoration:underline}a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}::-moz-selection{text-shadow:none;background:#b3d4fc}::selection{text-shadow:none;background:#b3d4fc}ul{padding-left:20px}.container,.container-fluid{padding-right:10px;padding-left:10px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{max-width:740px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1160px}}.row{margin-right:-10px;margin-left:-10px}.col-md-12,.col-md-3,.col-sm-4,.col-xs-6{position:relative;min-height:1px;padding-right:10px;padding-left:10px}.col-xs-6{float:left}.col-xs-6{width:50%}@media (min-width:768px){.col-sm-4{float:left}.col-sm-4{width:33.33333333%}}@media (min-width:992px){.col-md-12,.col-md-3{float:left}.col-md-3{width:25%}.col-md-12{width:100%}}p{margin:0 0 10px}ul{margin-top:0;margin-bottom:10px}h1,h2{font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','PingFang SC','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;font-weight:700;line-height:1.1;color:inherit}h1,h2{margin-top:20px;margin-bottom:10px}h1{font-size:26px}h2{font-size:20px}@font-face{font-family:ZenIcon;font-style:normal;font-weight:400;src:url(../fonts/zenicon.eot?v=2.2.0);src:url(../fonts/zenicon.eot?#iefix&v=2.2.0) format('embedded-opentype'),url(../fonts/zenicon.woff?v=2.2.0) format('woff'),url(../fonts/zenicon.ttf?v=2.2.0) format('truetype'),url(../fonts/zenicon.svg#regular?v=2.2.0) format('svg')}.icon,[class^=icon-]{font-family:ZenIcon;font-size:14px;font-style:normal;font-weight:400;font-variant:normal;line-height:1;text-transform:none;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon:before{display:inline-block;min-width:14px;text-align:center}a .icon{display:inline}@media (min-width:768px){::-webkit-scrollbar{width:10px;height:10px}::-webkit-scrollbar-button{width:0;height:0}::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-button:start:decrement{display:block}::-webkit-scrollbar-button:vertical:end:decrement,::-webkit-scrollbar-button:vertical:start:increment{display:none}::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-track:vertical{border-color:transparent;border-style:solid}::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box}::-webkit-scrollbar-thumb{min-height:28px;padding-top:100;background-color:rgba(0,0,0,.2);-webkit-background-clip:padding-box;background-clip:padding-box;border-radius:5px;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)}::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)}::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.5);-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35)}::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-track:vertical{border-width:0}::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.05);-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1)}::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,.05);-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07)}}.nav{padding-left:0;margin-bottom:0;list-style:none}@-moz-document url-prefix(){}
</style>